div.container {
    position: absolute;
    top: 80px;
    left: 37%;

    width: 100%;
    max-width: 400px;
    margin: 0px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color:rgba(219, 217, 217, 0.712);
}
.form-login {
    margin-top: 10px;
    margin-bottom: 10px;
}
form a {
    display: inline-block;
    margin-top: 10px;

}