{% extends "base_logout.html" %}

{% block title %}注册确认{% endblock %}

{% block content %}
{% if message == '确认成功，您现在可以去登陆了！' %}
<div class="alert alert-success" role="alert" style="max-width:500px;position: absolute;top: 150px;left: 35%;width: 100%;height:50px;">
    <p style="text-align: center;">{{ message }}</p>
</div>
{% else %}
<div class="alert alert-danger" role="alert" style="max-width:500px;position: absolute;top: 150px;left: 35%;width: 100%;height:50px;">
    <p style="text-align: center;">{{ message }}</p>
</div>
{% endif %}
{% endblock %}
